*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: blueviolet;
    width: 500px;
    margin: auto;
    padding: 10px;
}
main{
    background-color: blueviolet;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;

}
img{
    width: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
